body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.cursor-pointer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .product-img {
    transition: all 0.5s ease-in-out;
  }

  .product-img:hover {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 767px) {
  .product-img {
    transition: none;
  }
}

.product-img.opacity-50 {
  opacity: 0.5;
  pointer-events: none;
}

